<% provide(:title, 'About Us') %>
<h1>The Mindful Health Team</h1>
<div class="row team">
	<div class="span2">      
    <img src="http://s3.amazonaws.com/mht_assets/about_pic_fernando.jpg">
    </div><!-- /.span4 -->
    <div class="span12">
    <h4>Chris Fernandez</h4>
    <p>Donec sed odio dui. Etiam porta sem malesuada magna mollis euismod. Nullam id dolor id nibh ultricies vehicula ut id elit. Morbi leo risus, porta ac consectetur ac, vestibulum at eros. Praesent commodo cursus magna, vel scelerisque nisl consectetur et.</p>
    </div>    
</div><!-- /.row -->
<div class="row team">
	<div class="span2">      
    <img src="https://s3.amazonaws.com/jetstrap-site/images/website/index/what_icon.png">
    </div><!-- /.span4 -->
    <div class="span12">
    <h4>Jared Buckner</h4>
    <p>Donec sed odio dui. Etiam porta sem malesuada magna mollis euismod. Nullam id dolor id nibh ultricies vehicula ut id elit. Morbi leo risus, porta ac consectetur ac, vestibulum at eros. Praesent commodo cursus magna, vel scelerisque nisl consectetur et.</p>
    </div>    
</div><!-- /.row -->
<div class="row team">
	<div class="span2">      
    <img src="https://s3.amazonaws.com/jetstrap-site/images/website/index/what_icon.png">
    </div><!-- /.span4 -->
    <div class="span12">
    <h4>Olivia Rice</h4>
    <p>Donec sed odio dui. Etiam porta sem malesuada magna mollis euismod. Nullam id dolor id nibh ultricies vehicula ut id elit. Morbi leo risus, porta ac consectetur ac, vestibulum at eros. Praesent commodo cursus magna, vel scelerisque nisl consectetur et.</p>
    </div>    
</div><!-- /.row -->
<div class="row team">
	<div class="span2">      
    <img src="https://s3.amazonaws.com/jetstrap-site/images/website/index/what_icon.png">
    </div><!-- /.span4 -->
    <div class="span12">
    <h4>Mr. Glattard</h4>
    <p>Donec sed odio dui. Etiam porta sem malesuada magna mollis euismod. Nullam id dolor id nibh ultricies vehicula ut id elit. Morbi leo risus, porta ac consectetur ac, vestibulum at eros. Praesent commodo cursus magna, vel scelerisque nisl consectetur et.</p>
    </div>    
</div><!-- /.row -->